{% comment %}
  FAQ accordion block for PDP.
{% endcomment %}

<div class="product-faq" {{ block.shopify_attributes }}>
  <details>
    <summary>{{ block.settings.title | default: 'FAQ' }}</summary>
    <div class="product-faq__content">
      {{ block.settings.content | default: 'Add frequently asked questions here.' }}
    </div>
  </details>
</div>
