{% comment %}
  Mega menu item with icon support
{% endcomment %}

<ul class="mega-menu-icons" role="list">
  {% for block in section.blocks %}
    {% if block.type == 'mega_icon' %}
      <li class="mega-menu-icons__item">
        {% if block.settings.icon != blank %}
          {{ block.settings.icon | image_url: width: 80 | image_tag: class: 'mega-menu-icons__icon', loading: 'lazy' }}
        {% endif %}
        <a href="{{ block.settings.link }}" class="mega-menu-icons__link">{{ block.settings.label }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
