{% comment %}
  Product badges: render small badges based on tags.
{% endcomment %}

{% assign tags = product.tags | map: 'downcase' %}
{% assign badges = '' %}

{% if tags contains 'new' %}
  {% assign badges = badges | append: '<span class="badge badge--new">New</span>' %}
{% endif %}
{% if tags contains 'bestseller' %}
  {% assign badges = badges | append: '<span class="badge badge--bestseller">Bestseller</span>' %}
{% endif %}
{% if tags contains 'limited' %}
  {% assign badges = badges | append: '<span class="badge badge--limited">Limited</span>' %}
{% endif %}

{% if badges != '' %}
  <div class="product-badges" {{ block.shopify_attributes }}>
    {{ badges | raw }}
  </div>
{% endif %}
