{% comment %}
  Product recommendations snippet
  
  Usage:
  {% render 'product-recommendations', product: product %}
{% endcomment %}

{% assign limit = 4 %}
<div class="page-width product-recos">
  <h3 class="h3">You may also like</h3>
  <product-recommendations
    class="grid"
    data-product-id="{{ product.id }}"
    data-section-id="product-recommendations"
    data-url="{{ routes.product_recommendations_url }}?section_id=product-recommendations&limit={{ limit }}&intent=related"
    data-limit="{{ limit }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {% for reco in recommendations.products %}
        {% render 'card-product', card_product: reco, media_aspect_ratio: 'adapt' %}
      {% endfor %}
    {% endif %}
  </product-recommendations>
</div>
