{% comment %} sections/product-recommendations.liquid {% endcomment %}
<section class="page-width">
  <product-recommendations
    class="grid grid--2-col-tablet grid--4-col-desktop"
    data-product-id="{{ product.id }}"
    data-section-id="{{ section.id }}"
    data-limit="{{ section.settings.product_recommendations_limit | default: 4 }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {% for reco in recommendations.products %}
        {% render 'card-product', card_product: reco, media_aspect_ratio: 'square' %}
      {% endfor %}
    {% endif %}
  </product-recommendations>
</section>
{% schema %}
{ "name": "Product recommendations", "settings": [ { "type":"range", "id":"product_recommendations_limit", "min":2, "max":8, "step":1, "label":"Max items", "default":4 } ], "enabled_on": { "templates": ["product"] } }
{% endschema %}
